@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    height: 100%
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100vh;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-slide img {
    width: 100%;
    height: 100vh;
}

.swiper-pagination-bullet {
    width: 26px;
    height: 5px;
    border: 0;
    border-radius: 0;
    outline: 0;
    background-color: rgba(198, 74, 74, 0.35);
    opacity: 1;
    padding: 0 !important;
    margin: 0 !important;
    margin-left: 2rem !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
    background: linear-gradient(375deg, #1cc7d0, #2ede98);
    /*clip-path: circle(25px at calc(0% + 85px) 45px);*/
    clip-path: circle(25px at calc(100% - 60px) 53px);
    opacity: 0.9;
    transition: all 0.3s ease-in-out;
}

.wrapper0Opacity {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
    background: linear-gradient(375deg, #1cc7d0, #2ede98);
    /*clip-path: circle(25px at calc(0% + 85px) 45px);*/
    clip-path: circle(25px at calc(100% - 60px) 53px);
    display: none;
    transition: all 0.3s ease-in-out;
}

#active:checked ~ .wrapper {
    clip-path: circle(75%);
}

.menu-btn {
    position: absolute;
    z-index: 2;
    right: 20px;
    /* left: 20px; */
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
    background: linear-gradient(375deg, #1cc7d0, #2ede98);
    transition: all 0.3s ease-in-out;
}

#active:checked ~ .menu-btn {
    background: #fff;
    color: #4158d0;
}

#active:checked ~ .menu-btn i:before {
    content: "\f00d";
}

.wrapper ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
}

.wrapper ul li {
    margin: 15px 0;
}

.wrapper ul li a {
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.wrapper ul li a:after {
    position: absolute;
    content: "";
    background: #fff;
    width: 100%;
    height: 50px;
    left: 0;
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    transition: transform 0.3s ease;
}

.wrapper ul li a:hover {
    color: #4158d0;
}

input[type="checkbox"] {
    display: none;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    text-align: center;
    width: 100%;
    color: #202020;
}

.content .title {
    font-size: 40px;
    font-weight: 700;
}

.content p {
    font-size: 35px;
    font-weight: 600;
}

.images-row-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin-bottom: 20px;
}

/* Create two equal columns that sits next to each other */
.images-column-container {
    /*flex: 33.33%;*/
    padding: 0 4px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.example .fadedbox {
    background-color: #666666;
    position: absolute;
    top: 0px;
    left: 0;
    color: #fff;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0;
    padding: 130px 20px;
}

.images-column-container:hover .fadedbox {
    opacity: 0.8;
}

.images-column-container .text {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    transform: translateY(60px);
    -webkit-transform: translateY(30px);
}

.images-column-container .title {
    font-size: 1.5em;
    text-transform: capitalize;
    opacity: 0;
    transition-delay: 0.2s;
    transition-duration: 0.3s;
}

.images-column-container:hover .title,
.images-column-container:focus .title {
    opacity: 1;
    transform: translateY(200px);
    -webkit-transform: translateY(0px);
}

.images-img {
    margin-top: 8px;
    vertical-align: middle;
    /*flex: 100%;*/
}

.text-on-top-of-image {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#stickyNavbar {
    position: fixed;
    top: 0;
    z-index: 100;
    overflow: hidden;
    width: 100%;
    background-color: #f1f1f1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.awards-list{
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
}

.awards-list li:before {content: '● ';font-size: 10px;}